/* .main{
    width: 300px;
    height: 400px;
    background-color: aquamarine;
    border-width: 20px 10px 5px 3px;
    border-color: orange;
    border-style:solid;
    border: 5px solid yellow;
}
input {
    border  :2px solid;
    border-color: aqua red blue;
} */
 
*{
        padding: 0;
    margin: 0;
}
body{

    background-color:bisque ;
 }
 .container{
    width: 700px;
    margin: 0px auto;
 }
.main{
    width: 200px;
    height: 200px;
    border: 2px solid green;
    background-color: aqua;
    padding: 10px ;
    display: inline-block;
    margin:5px  10px ;  
}
.main > p{
    text-align: justify;
}
.list{
    width: 550px;
    margin: 2px auto;
    background-color:red;
    
}
.list > ul> li{
    display: inline-block;
    margin: 5px 15px;
}
.contact{
    visibility: hidden;
}